{% extends 'base.html' %}

{% block body %}
<style>
    .center {
        text-align:center
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12 center">
            <br/><br/>
            <h4>赵鹏飞</h4>
            <p>坚持醇正简洁的技术</p>
            <p>享受和热爱编程的程序员</p>
            <p>linux 和 mac 党. windows 是只能用来打游戏的.</p>
            <p>简单快速, vim 中毒. IDE 什么的不是用来升级电脑配置的借口么?</p>
            <p>人生苦短, python 中毒. java 什么的不是以耗尽内存和慢而出名的么?</p>
            <p></p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </div>
    </div>
</div>
{% end %}
