<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Jason floy{% end %}</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="description" content="{% block description %}{% end %}" />
        <meta name="keywords" content="{% block keywords %}bookmarks,site,url{% end %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='shortcut icon' href='/static/images/login-logo.png' />
        <link href="/lib_static/lib/bootstrap-3.3.2-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/lib_static/lib/Font-Awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
        <link href="/lib_static/lib/AdminLTE-2.0.4/dist/css/AdminLTE.css" type="text/css" rel="stylesheet"/>
        <link href="/lib_static/lib/AdminLTE-2.0.4/dist/css/skins/skin-black.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/base.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/static/vimblog.css">
        <style>
            .navbar-nav li:hover{
                background-color:#E7E7E7;
            }
            .navbar-fixed-top{
                background-color:#ffffff;
            }
            .navbar-nav{
                margin-right:100px;
            }
        </style>
        {% block css %}
        {% end %}
    </head>
    <body class="skin-black layout-top-nav">
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand pull-left" href="/">赵鹏飞的博客</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/list">全部<span class="sr-only">(current)</span></a></li>
                            <li><a href="/list/linux">linux</a></li>
                            <li><a href="/list/vim">vim</a></li>
                            <li><a href="/list/python">python</a></li>
                            <li><a href="/list/postgres">postgres</a></li>
                            <li><a href="/list/web">前端</a></li>
                            <li><a href="/list/linux">关于我</a></li>
                        </ul> 
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">搜索</button>
                        </form>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        <br/><br/><br/>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    {% block body %}
                    {% end %}
                </div>
            </div>
        </div>
        <div class="container">
            <footer>
                {%import time_bz %}
                <p>&copy;版权所有   2014-{{time_bz.getYearMonth(fmt='%Y')}} <a href="">赵鹏飞</a>&nbsp;&nbsp;</p>
            </footer>
        </div>

        <script src="/lib_static/lib/vue.js"></script>
        <script src="/lib_static/lib/jquery-2.1.1.min.js"></script>
        <script src="/lib_static/lib/underscore-min.js?v=3"></script>
        <script src="/static/base.js"></script>

        {% block js %}
        {% end %}
    </body>
</html>
