<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Jason floy{% end %}</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="description" content="{% block description %}{% end %}" />
        <meta name="keywords" content="{% block keywords %}bookmarks,site,url{% end %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='shortcut icon' href='/static/images/logo.png' />
        <link href="/lib_static/lib/bootstrap-3.3.2-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/lib_static/lib/Font-Awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
        <link href="/lib_static/lib/AdminLTE-2.0.4/dist/css/AdminLTE.css" type="text/css" rel="stylesheet"/>
        <link href="/lib_static/lib/AdminLTE-2.0.4/dist/css/skins/skin-black.min.css" type="text/css" rel="stylesheet"/>
        <!--link href="/static/base.css" type="text/css" rel="stylesheet"/-->
        <link href="/static/vimblog.css" type="text/css" rel="stylesheet">
        <script src="/static/js/jquery-2.1.1.min.js"></script>
        <style>
            .navbar-nav li:hover{
                background-color:#E7E7E7;
            }
            .navbar-fixed-top{
                background-color:#ffffff;
            }
            .navbar-nav{
                margin-right:100px;
            }
            .footer-container{
                text-align:center;
            }
            body {
                padding-top:10px;
                background-color: #f9f9f9;
            }
        </style>
        {% block css %}
        {% end %}
    </head>
    <body class="skin-black layout-top-nav">
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand pull-left" href="/">赵鹏飞的博客</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li id='list'><a href="/list"> 全部 </a></li>
                            <li id='linux'><a href="/list/linux"> linux </a></li>
                            <li id='vim'><a href="/list/vim"> vim </a></li>
                            <li id='python'><a href="/list/python"> python </a></li>
                            <li id='postgresql'><a href="/list/postgresql"> postgres </a></li>
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他技术 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/list/html">html</a></li>
                                    <li><a href="/list/http">http</a></li>
                                    <li><a href="/list/javascript">javascript</a></li>
                                    <li><a href="/list/css">css</a></li>
                                </ul>
                            </li>
                            <li><a href="http://www.blog.csdn.net" target="_blank"> 旧博客 </a></li>
                            <li id='about'><a href="/about"> 关于我 </a></li>
                        </ul> 
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">搜索</button>
                        </form>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        <br/><br/><br/>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    {% block body %}
                    {% end %}
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-container">
                {%import time_bz %}
                <p>Copyright © 2014 ~ {{time_bz.getYearMonth(fmt='%Y')}} <a href="">赵鹏飞</a>&nbsp;&nbsp; 版权所有</p>
                <p>友情链接:</p>
            </div>
        </footer>

        <script src="/lib_static/lib/vue.js"></script>
        <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/lib_static/lib/underscore-min.js?v=3"></script>
        <script src="/static/base.js"></script>
        <script src="/static/js/jquery.scrollUp.min.js"></script>

        {% block js %}
        <script>
            $(function(){
                url = window.location.href;
                abs = url.split('/').pop();
                $('#'+ abs).addClass('active')
            });
        </script>
        {% end %}

    </body>
</html>
