{% extends 'base.html' %}
{% block  body %}

{%for list in lists%}
<div class="panel panel-default">
    <div class="panel-body">
        <!--url加#disqus_thread是为了让DisQUS显示评论数量-->
        <a href='/blog/{{list.name}}.html#disqus_thread'>
            <h2 class='title_bz'>{{list.name}}</h2>
        </a>
        {{ time.strftime('%Y年%m月%d日%H:%M:%S', list.time)  }}
        <hr/>
        {{list.content}}
    </div>
</div>

{%end%}
<div id="scrollup"></div>
{% block js %}
<script>
$(function () {
    $("#scrollup").scrollUp();
});
</script>
{% end %}

{% end %}
