.settings/*
.project
*.svn
*.log
.model.py.swo
*.pyc
*.pid
*.swp
.ropeproject
include/
.idea/
.DS_Store
static/*_bz
*.orig
*.sublime-project
*.sublime-workspace
static/uploaded_files/
template/*.swo
static/video/*
